.clang-format
*.pdf
*.vscode
*.code-workspace
*.synctex.gz
*.run.xml
*-blx.bib
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
riscv-uart-debugger/client/build
riscv-uart-debugger/uart-db-build
*.tar.gz
otter_debugger_v*.sv
